@model MessageApp.Models.SMSForm
@{
    ViewBag.Title = "Send SMS";
}

<h2>Send SMS</h2>

@ViewBag.Message

@using (Html.BeginForm("SendSMS", "Home", FormMethod.Post))
{
    @Html.ValidationSummary()
    <div class="row">
        <div class="col-lg-2">
            Name
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Name)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">
            Number
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(a => a.Number)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">
            Message
        </div>
        <div class="col-lg-10">
            @Html.TextAreaFor(a => a.Message)
        </div>
    </div>
    <br />
    <div class="row">

        <div class="col-lg-offset-2">
            <input type="submit" class="btn btn-primary" value="Send SMS" />
        </div>
    </div>
}